name: Build
on:
  workflow_dispatch:
    inputs:
      CT_PREFIX_DIR:
        description: "CT_PREFIX_DIR"
        default: "/opt/x-tools"
        required: true
        type: string
jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: true
      matrix:
        target:
          - x86_64-unknown-linux-musl
          - x86_64-unknown-linux-gnu
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true
      - name: Build
        shell: bash
        env:
          CT_PREFIX_DIR: ${{ inputs.CT_PREFIX_DIR }}
          TARGET: ${{ matrix.target }}
        run: |
          set -euo pipefail
          CT_PREFIX_DIR="${CT_PREFIX_DIR%/}"
          find ./targets -type f -name "config" -exec sed -i "s|\{CT_PREFIX_DIR\}|${CT_PREFIX_DIR}|g" {} +
          sudo mkdir -p ${CT_PREFIX_DIR}
          cat targets/$TARGET/config
          sudo rm -rf /opt/*
          chmod +x ./scripts/make
          bash ./scripts/make "$TARGET"
          cat build.log
      - name: Upload package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target }}.tar.xz
          path: ${{ matrix.target }}.tar.xz
          if-no-files-found: error
          retention-days: 30
